<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.FestivalMapper">
 	<select id="selectFestival" parameterType="vo.SearchInfoVO"  resultType="vo.FestivalVO">
 		select f.fid, f.name, f.lat, f.lng, f.opendate, f.closedate, f.place
 		from (select f.place, f.fid, f.name, f.lat, f.lng, to_char(d.opendate, 'yyyy.mm.dd') opendate, to_char(closedate, 'yyyy.mm.dd') closedate 
    		from festival f, festadate d
    		where type like '%'||#{type}||'%' and place like '%'||#{district}||'%' and f.fid = d.fid and
    				to_char(d.opendate, 'mm') like '%'||#{month}||'%'
    		order by fid desc
    		) f
    	where <![CDATA[ROWNUM >= #{startRow} and ROWNUM <= #{size}]]>
 	</select>
 	<select id="selectFestivalImage" parameterType="_int" resultType="java.sql.Blob">
 		select image
 		from festaimg
 		where fid=${fid}
 	</select>
 	<select id="selectFestivalCount" parameterType="vo.SearchInfoVO" resultType="_int">
 		select count(*) 
 		from festival f, festadate d
    	where type like '%'||#{type}||'%' and place like '%'||#{district}||'%' and f.fid = d.fid and
    				to_char(d.opendate, 'mm') like '%'||#{month}||'%'
 	</select>
</mapper>