<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.detailMapper">

	<!-- 축제정보 -->
 	<select id="selectAll" parameterType="_int"  resultType="vo.detailVO">
    	select * from festival where fid=#{fid}
 	</select>
 	<!-- 이미지 갯수대로 출력 -->
 		<select id="imgList" parameterType="_int" resultType="vo.detailVO">
    	select * from festaimg where fid=#{fid}
 	</select>
 	
 	<!-- 댓글 리스트 출력 -->
 	 	<select id="reviewList" parameterType="_int"  resultType="vo.detailReviewVO">
    	select fid, rcontent, mid, TO_CHAR(writedate, 'yyyy-mm-dd') writedate, grade from review where fid=#{fid}
 	</select>
 	
 	<!-- 댓글 입력 -->
 	 	 <insert id="insertReview"  parameterType="vo.detailReviewVO">
  		insert into review values(#{mid}, #{rcontent}, #{fid}, sysdate, #{grade})			  
	</insert>
</mapper>